:root {
  --primary-color: #ff9854;
  --line-color: #faf8f9;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);

  --van-primary-color: var(--primary-color);
  --van-search-left-icon-color: var(--primary-color) !important;
  --van-primary-color: var(--primary-color);
}

body {
  font-size: 14px;
  /* font-family: 'Courier New', Courier, monospace; */
}

.bottom-gray-line {
  border-bottom: 1px solid var(--line-color);
}

.top-page {
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
}